.header {
  box-shadow: 0px 0px 1px 1px #707070;
  padding: 1rem 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  gap: 0.375rem;
  align-items: center;
  position: relative;
}

.itemHeader {
  cursor: pointer;
}

.itemHeader svg {
  vertical-align: middle;
}

@media (max-width: 400px) {
  .wrapper > .itemHeader:nth-child(3) {
    display: none;
  }
}

@media (hover: hover) {
  .itemHeader:hover svg {
    fill: var(--color-third);
  }
}
