.nav{
  position: absolute;
  top: 60px;
  right: 10px;
  padding: 0.5rem 1rem;
  width: 180px;
  background: var(--color-fourth);
  border-radius: 0.375rem;
  box-shadow: 0 10px 20px rgb(0 0 0 / 50%);
}

.nav::before{
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid var(--color-fourth);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 10px;
}

.nav > *{
  display: block;
  padding: 0.5rem ;
}

.nav > * ~ *{
  border-top: 2px solid var(--color-first);
}

.nav > *:hover{
  color: var(--color-third);
}

.nav > button{
  width: 100%;
}