.listOptions{
  position: absolute;
  z-index: 200;
  background: var(--color-fourth);
  border-radius: 0.375rem;
  overflow: hidden;
  box-shadow: 0 10px 20px rgb(0 0 0 / 50%);
}

.listOptions::before{
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  border-bottom: 10px solid var(--color-fourth);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 5px;
}

.listOptions > li{
  display: block;
}

.listOptions > li:hover{
  background-color: rgba(112, 112, 112, .1);
}

.listOptions > li > a,
.listOptions > li > button{
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
}

.listOptionsUser{
  top: 60px;
  right: 16px;
  width: 180px;
}

.listOptionsNews{
  top: 30px;
  right: 1px;
  width: 140px;
}

.listOptionsNews > li> a,
.listOptionsNews > li > button
{
	display: flex;
  align-items: center;
}

.listOptionsNews svg{
  margin-right: 6px; 
}

